extends layout

block content
  h1= title
  - var results = [{"animalName": "Elephant", "animalWeight": 700, "animalType": "Wild"}, {"animalName": "Rabbit", "animalWeight": 50, "animalType": "Domestic"}, {"animalName": "Lion", "animalWeight": 500, "animalType": "Wild"}]
    div(class = 'container-fluid')
      div(class = 'row')
        each item in results 
          div(class="col-sm-2") animalName : #{item["animalName"]} <br> animalWeight : #{item["animalWeight"]} <br> animalType: #{item["animalType"]}
          